<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        <form action="/api/v1/secret" method="post">
            <div>
                <label 
                    for="secret">
                    Secret:
                </label><br>
                <textarea
                    id="secret"
                    name="secret"
                    rows="4"
                    cols="50"
                ></textarea>
            </div>
            <div>
                <label 
                    for="key">
                    Key:
                </label><br>
                <input 
                    type="text"
                    id="key"
                    name="key"
                >
            </div>
            <div>
                <label 
                    for="type">
                    Select type
                </label><br>
                <select name="type" id="type">
                    <option value="once">Once</option>
                    <option value="1H">Hour</option>
                    <option value="24H">Day</option>
                    <option value="7D">Week</option>
                    <option value="10M">10 Minutes</option>
                </select>
            </div>
            <div>
                <input
                    type="submit"
                    value="Submit"
                >
            </div>
            <div>
                {{ result }}
            </div>
        </form>
    </body>
</html>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script> 

    <script>  
    </script>
{% endblock %}