<!DOCTYPE html>
<html>
    <head>
        <title>Load Secret</title>
    </head>
    <body>
        <form action="/api/v1/secret/{{ uuid }}" method="post">
            <div>
                <label 
                    for="key">
                    Key:
                </label><br>
                <input 
                    type="text"
                    id="key"
                    name="key"
                >
            </div>
            <div>
                <input
                    type="submit"
                    value="Submit"
                >
            </div>
        </form>
    </body>
</html>